[submodule "vim/.vim/plugins/vim-indent-guides"]
    path = vim/.vim/plugins/vim-indent-guides
    url = https://github.com/nathanaelkane/vim-indent-guides

[submodule "vim/.vim/plugins/YouCompleteMe"]
    path = vim/.vim/plugins/YouCompleteMe
    url = https://github.com/Valloric/YouCompleteMe

[submodule "vim/.vim/plugins/ale"]
    path = vim/.vim/plugins/ale
    url = https://github.com/w0rp/ale

[submodule "vim/.vim/plugins/auto-pairs"]
    path = vim/.vim/plugins/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs

[submodule "vim/.vim/plugins/ctrlp.vim"]
    path = vim/.vim/plugins/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim

[submodule "vim/.vim/plugins/kotlin-vim"]
    path = vim/.vim/plugins/kotlin-vim
    url = https://github.com/udalov/kotlin-vim

[submodule "vim/.vim/plugins/nerdtree"]
    path = vim/.vim/plugins/nerdtree
    url = https://github.com/scrooloose/nerdtree

[submodule "vim/.vim/plugins/python-mode"]
    path = vim/.vim/plugins/python-mode
    url = https://github.com/python-mode/python-mode

[submodule "vim/.vim/plugins/rust.vim"]
    path = vim/.vim/plugins/rust.vim
    url = https://github.com/rust-lang/rust.vim

[submodule "vim/.vim/plugins/spacegray.vim"]
    path = vim/.vim/plugins/spacegray.vim
    url = https://github.com/ajh17/Spacegray.vim

[submodule "vim/.vim/plugins/vim-airline"]
    path = vim/.vim/plugins/vim-airline
    url = https://github.com/vim-airline/vim-airline

[submodule "vim/.vim/plugins/vim-airline-themes"]
    path = vim/.vim/plugins/vim-airline-themes
    url = https://github.com/vim-airline/vim-airline-themes

[submodule "vim/.vim/plugins/vim-autoformat"]
    path = vim/.vim/plugins/vim-autoformat
    url = https://github.com/Chiel92/vim-autoformat

[submodule "vim/.vim/plugins/vim-easymotion"]
    path = vim/.vim/plugins/vim-easymotion
    url = https://github.com/easymotion/vim-easymotion

[submodule "vim/.vim/plugins/vim-fugitive"]
    path = vim/.vim/plugins/vim-fugitive
    url = https://github.com/tpope/vim-fugitive

[submodule "vim/.vim/plugins/vim-gitgutter"]
    path = vim/.vim/plugins/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter

[submodule "vim/.vim/plugins/vim-gradle"]
    path = vim/.vim/plugins/vim-gradle
    url = https://github.com/tfnico/vim-gradle

[submodule "zsh/oh-my-zsh"]
    path = zsh/oh-my-zsh
    url = https://github.com/randomowo/oh-my-zsh
