[submodule "polybar-spotify"]
	path = .config/polybar/scripts/polybar-spotify	
	url = https://github.com/Jvanrhijn/polybar-spotify.git

[submodule "oh-my-zsh"]
	path = .config/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
