.config/cmus
mac/karabiner/automatic_backups
.config/vim/vimconf/plugins
.config/polybar/scripts/notification-github.sh
.config/emacs/.emacs.d
.config/zsh/.zcompdump
.config/zsh/plugins
.config/ranger/plugins/__pycache__
