[Unit]
Description=i3 lock on suspend by randomowo
Before=sleep.target

[Service]
User=owo
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/local/bin/myi3lock
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
