[Unit]
Description=Lock X session using slock
Before=sleep.target

[Service]
User=owo
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/local/bin/slock

[Install]
WantedBy=sleep.target
