[Unit]
Description=User suspend actions
Before=sleep.target

[Service]
User=randomowo
Type=forking
Environment=DISPLAY=:0
ExecStart=/usr/bin/i3lock -ef
ExecStartPost=/usr/bin/sleep 1

[Install]
WantedBy=sleep.target
